.avatar {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-image: url("../../assets/images/avatar.jpg");
  background-size: 100%;
}

.useless {
  color: red;
  background: beige;
}
